<%- include("partials/header") %>
<h1>Cuaternio resultante:</h1>
<p><%=cuaternioResultanter%> + <%=cuaternioResultantei%>i + <%=cuaternioResultantej%>j + <%=cuaternioResultantek%>k</p>
<p><%=cuaternioResultanteOperacion%></p>
<%- include("partials/footer") %>