<%- include("partials/header") %>
<h1>Multiplicacion de matrices:</h1>
<table>
    <tr>
        <td>
            <table class="matrix">
                <tbody>
                    <% for(let i = 0; i < afilas; i++){ %>
                        <tr>
                            <% for(let j = 0; j < acolumnas; j++){%>
                                <td class="cell"><%=amatriz[i][j]%></td>
                             <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </td>
        <td><p>-</p></td>
        <td>
            <table class="matrix">
                <tbody>
                    <% for(let i = 0; i < bfilas; i++){ %>
                        <tr>
                            <% for(let j = 0; j < bcolumnas; j++){%>
                                <td class="cell"><%=bmatriz[i][j]%></td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </td>

    </tr>
</table>
<h1>Matriz Resultante: </h1>
<table class="matrix">
    <tbody>
        <% for(let i = 0; i < bfilas; i++){ %>
            <tr>
                <% for(let j = 0; j < acolumnas; j++){%>
                    <td class="cell"><%=matrizresultado[i][j]%></td>
                 <% } %>
            </tr>
        <% } %>
    </tbody>
</table>
<div>
    <% for(let i = 0; i < bfilas; i++){ %>
        <% for(let j = 0; j < acolumnas; j++){%>
            <% for(let k = 0; k < bfilas; k++){%>
                <p>Sumatoria del valor de la fila: <%=i + 1%> Columna: <%=j + 1%> Numero: <%=k + 1%> Es: <%=arrayMultiplicacionMatrices[i][j][k]%></p>
            <% } %>
        <% } %>
<% } %>
</div>


