<%- include("partials/header") %>
<h1>Vector Resultante:</h1>
<p>(<%=vector1j%> * <%=vector2k%>) - (<%=vector1k%> * <%=vector2j%>)i + (<%=vector1k%> * <%=vector2i%>) - (<%=vector1i%> * <%=vector2k%>)j + (<%=vector1i%> * <%=vector2j%>) - (<%=vector1j%> * <%=vector2i%>)k</p>
<p>Resultado = <%=vectorResultantei%>i + <%=vectorResultantej%>j + <%=vectorResultantek%>k</p>
<%- include("partials/footer") %>